body {
	margin: 0px;
}

/******************************/
/* the whole menu bar */

.navbar {
	position: relative;
	min-height: 50px;
	border: 1px solid transparent;
	box-sizing: border-box;
	border-radius: 0px !important;
	margin-bottom: 0px !important;
}

.navbar-default {
	background-color: #49660F !important;
	border-color: black !important;
}

/* logo */
.menubar-logo > img {
	padding-top: 14px;
	padding-left: 5px;
	float: left;
}


/******************************/
/* the menu */

.menu-nav {
	list-style: none;
	font-family: helvetica, arial, sans-serif;
}

.menubar-right {
	float: right;
	padding-right: 20px;
	padding-top: 12px;
}

.menu-nav a {
	text-decoration: none;
	font-size: 12px;
	color: white;
	font-weight: bold;
}

.menu-nav a:visited {
	color: white;
}

.menu-nav a:hover {
	color: white;
	text-decoration: none;
}


/*the sub-menu*/
.sub-menu {
	position: absolute;
	display: none;
	background-color: #49660F;
	list-style: none;
	padding-right: 35px;
	padding-bottom: 10px;
	padding-top: 10px;
	transition: opacity linear 0.15s;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.menu-nav li:hover > .sub-menu {
	display: block;
	z-index: 1;
}

/* main-content */
.main-content {
	padding-left: 220px;
	padding-top: 10px;
}



/******************************/
/* the sub-menu */

/*.menu-nav li:hover .sub-menu {
    z-index: 1;
    opacity: 1;
}

.clearfix:after {
    display: block;
    clear: both;
}

.sub-menu {
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    right: 20px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    background: #49660F;
}

.sub-menu li {
    display: block;
}
 
.sub-menu li a {
    padding: 10px 30px;
    display: block;
}*/

/* media queries */

@media (min-width: 768px) {

}